<% @result.each do |tweet| %>
    <div class = 'tile double <%= 'triple' if tweet.media.present?  %>'>
		    <div class="tile-content">
			    <%
					linked = tweet.text.gsub( %r{http://[^\s<]+} ) do |url|
					    "<a href='#{url}' class='text_link' target = 'blank'>#{url}</a>"
					end
				%>
			    <span class="text"><%= linked.html_safe %></span>
			    <span> <%= image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"]) if(tweet.media.present?) %> </span>
		    </div>
	</div>
<% end %>
