<div class="page" id="" >
	<div class="input-control select">
		<%= select_tag "handle", options_for_select(@handles["handles"] + @handles["feeds"].keys ,@handles["handles"].first) %>
	</div>
<div class = "tweets">
  <%= render partial: "tweet" %>
</div>
	<center>
		<div class = "ajax_loader" >
			<%= image_tag "loader.gif" %>
		</div>
	</center>
</div>

<%= hidden_field_tag :last_id, @tweets.last.id %>

