<br/>
<br/>
<br/>
<br/>
<div class="page" id="" >
	<nav class="sidebar light">
	    <ul>
	    	<% @months.each do |month| %>
		    	<li class="title"><a href="#"><%= month %></a></li>
	    	<% end %>
	    </ul>
    </nav>
<div class="input-control select">
</div>
<%= select_tag "handle", options_for_select(@handles["handles"],@handles["handles"].first) %>
<div class = "tweets">
	<%= render partial: "tweet" %>
</div>
<div class = "ajax_loader" >
	<%= image_tag "loader.gif" %>
</div>
</div>



