<div class="page" id="" >
<div class = "tweets">
  <%= render partial: "tweet" %>
</div>
	<center>
		<div class = "ajax_loader" >
			<%= image_tag "loader.gif" %>
		</div>
	</center>
</div>

<%= hidden_field_tag :last_id, @result.last.id %>
<%= hidden_field_tag :last_tweet_date, @result.last.created_at.strftime("%d-%b-%Y") %>
