.date{
	color: grey;
    font-size: 0.9em;
    float: right;
}

.text_link{
	color: blue !important;
}

.section-first {
	width: 25%;
	float: left;
}

.section-second {
    width: 25%;
	float: left;
}

.section-third {
	width: 25%;
	float: left;
}

.section-fourth {
	width: 25%;
	float: left;
}

#gutter-opt-demo2 .item {
  margin-bottom: 10px;
}