<!DOCTYPE html>
<html>
<head>
  <title>Tweetfetcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<nav class="navigation-bar dark fixed-top"><h2> <b>Tweet Fetcher </b></h2></nav> 

<body class="metro">

	<%= yield %>
</body>
</html>
